<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLCHBanXeMay.Properties.Settings.QLCH_BanXeConnectionString"
            connectionString="Data Source=LAPTOP-L1V19H5J\HOANGEXPRESS;Initial Catalog=QLCH_BanXe;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>